# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch / TensorFlow saved models
*.pt
*.pth
*.ckpt

# Dataset / temporary data
data/
TestImages/
*.csv
*.h5

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace